  .form {
    display: flex;
    flex-basis: 100%;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    flex-flow: column nowrap;
  }
  .form_size-sm {
    font-size: 1.4rem;
  }
  .form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  .form__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .form__row_horizontal {
    grid-template-columns: 4.2fr 5.8fr;
    grid-template-rows: auto auto;
  }
  .form__label {
    font-size: 1.5rem;
    padding: .7rem 1.4rem .8rem;
    position: relative;
    font-weight: 500;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #ffe69c;
    border: 1px solid #ffcd39;
    border-bottom-width: 0;
  }
  .form__label_horizontal {
    display: flex;
    align-items: center;
    height:  100%;
    margin-bottom: 0;
    padding: 0 .8rem;
    grid-column: 1/2;
    grid-row: 1/2;
    border-width: 1px;
    border-right-width: 0;
  }

  .form__label-required,
  .form__label_required {
    text-decoration: underline;
    text-decoration-color: #dc3545;
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
  }
  .form__input {
    background-color: #ffffff;
    border-width: 0;
    height: 3.6rem;
    outline: none;
    padding: 0 1.4rem;
    font-size: inherit;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid #ffcd39;
    border-top-width: 0;
  }
  .form__input_text-center {
    text-align: center;
  }
  .form__input_password {
    font-size: 2.4rem;
  }
  .form__input_bold {
    font-weight: 500;
  }
  .form__input_horizontal {
    grid-column: 2/3;
    grid-row: 1/2;
    border-width: 1px;
    border-left-width: 0;
  }
  .form__input_size-sm {
    font-size: 1.5rem;
    height: 3.2rem;
    padding: 0 .6rem;
  }
  .form__input_readonly {
    background-color: #e2e3e5;
  }
  .form__error-block {
    font-size: 1.5rem;
    background-color: #e35d6a;
    padding: .7rem 1.4rem .8rem;
    color: #ffffff;
  }
  .form__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 1rem 0;
  }
  .has-errors .v-input {
    border-color: #e35d6a;
  }
  .has-errors .v-label {
    border-color: #e35d6a;
    background-color: #e35d6a;
    color: #ffffff;
    text-decoration: none;
  }
  .has-errors .form__label_horizontal.v-label {
    border: 1px solid #e35d6a !important;
    border-right-width: 0 !important;
  }
  .has-errors .form__input_horizontal.v-input {
    border: 1px solid #e35d6a !important;
    border-left-width: 0 !important;
  }
  .invalid {
      display: block;
      visibility: hidden;
      color: #dc3545;
      font-size: 1.4rem;
      font-weight: 500;
      height: 2.1rem;
      line-height: 2.1rem;
      grid-column: 1/2;
      grid-row: 3/4;
      text-align: right;
  }
  .invalid_horizontal {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: right;
  }
  .has-errors .invalid {
      visibility: visible;
  }
  
  .button {
    display: inline-block;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #E9E9EB;
    border-width: 0;
    color: #212529;
    padding: 1rem 4rem;
    transition: background-color .3s, color .1s;
    text-align: center;
    text-decoration: none;
    outline: none;
    user-select: none;
    position: relative;
    transition: all .2s;
  }
  .button:hover {
    background-color: #ffc107;
    cursor: pointer;
    color: #212529;
    box-shadow: 0 0 4px #000000;
  }
  .button:disabled,
  .button:disabled:hover {
    background-color: #6c757d;
    color: #fff;
  }
  .form__button {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background-color: #6c757d;
    border-radius: 4px;
  }
  .form__button:disabled:hover {
    background-color: #6c757d;
    color: #fff;
  }