
.messageOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 230, 156, .5);
}
.message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    color: #17a2b8;
    background-color: #fff;
    margin-top: -5%;
    padding: 1.2rem;
    min-width: 30rem;   
    box-shadow: 0 0 5px #17a2b8;
    text-transform: lowercase;
}
.message__spinner {
    margin-right: 1.4rem;
}
.message__content {
    margin-top: -2px;
}