
.panel {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #ffffff;
    border: 4px solid #ffcd39;
    border-radius: 0.8rem;
    min-width: 40rem;
    overflow: hidden;
}
.panel_error {
    border-color: #d46666;
}
.panel_boxShadow {
    box-shadow: 0 0 4px #000000;
}
.panel__title {
    background-color: #ffcd39;
    height: 4rem;
    line-height: 3.6rem;
    padding: 0 1.4rem;
}
.panel__title_error {
    background-color: #d46666;
    color: #fff;
}
.panel__body {
    background-color: #ffffff;
    box-shadow: 0 0 2px #17a2b8 inset;
    padding: 1.6rem;
}