
.toolbar {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 2px;
    background-color: #ffe69c;
}

.toolButton {
    display: flex;
    background-color: #ffe69c;
    border-width: 0;
    color: #17a2b8;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.2rem 1.4rem;
    cursor: pointer;
    transition: .5s;
}
.toolButton:not(:last-child) {
    margin-right: 1rem;
}
.toolButton__icon {
    fill: #17a2b8;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: .8rem;
    transition: .5s;
}
.toolButton:hover {
    background-color: #17a2b8;
    color: #ffffff;
}
.toolButton:hover > .toolButton__icon {
    fill: #ffffff;
}